---
interface Props {
  // Propiedades de entrada reutilizables
  placeholder: string;
  type: "text" | "email" | "password";
  id: string; // Obligatorio para envío de formularios
  name:string;
}

const { placeholder, type, id, name } = Astro.props;

---

<div >
  <label for={id}>{}</label>  <input
    type={type}
    placeholder={placeholder}
    name={name}
    
    class="mb-2 appearance-none rounded py-2 px-3 text-color2 leading-tight focus:outline-none focus:shadow-outline w-full justify-center shadow-xl"
    id={id}  />
</div>
